*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

.navbar{
    display: flex;
    justify-content:space-around;
    align-items: center;
    color:rgb(119, 116, 116);
    
}

.menu{
    display: flex;
    gap: 50px;
}

.nav-list{
    display: flex;
    list-style: none; 
    gap: 50px;  
    justify-content: center;
    align-items: center;
    font-weight: 600;
    
}

.logo{
    width: 150px;
}

.btn{
    padding: 15px 20px;
    border-radius: 10px;
    font-weight: 600;
}

.home-section{
    display: flex;
    padding:50px 120px ;
    gap: 50px;
}

.heading{
    width: 500px;
    font-size: 50px;
}

.paragraph{
    margin-top: 20px;
    width: 380px;
}

.-btleftn{
    margin-top: 20px;
    padding: 15px 40px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.homeimage{
    width: 500px;
    
}

.brand-logos{
    padding:0px 100px;
    display: flex;
    gap: 80px;
}